<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SwasthSaarthi</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>residentSignupServlet</display-name>
    <servlet-name>residentSignupServlet</servlet-name>
    <servlet-class>resident.residentSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>residentSignupServlet</servlet-name>
    <url-pattern>/residentSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>residentLoginServlet</display-name>
    <servlet-name>residentLoginServlet</servlet-name>
    <servlet-class>resident.residentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>residentLoginServlet</servlet-name>
    <url-pattern>/residentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>healthWorkerLoginServlet</display-name>
    <servlet-name>healthWorkerLoginServlet</servlet-name>
    <servlet-class>healthworker.healthWorkerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>healthWorkerLoginServlet</servlet-name>
    <url-pattern>/healthWorkerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>additional.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookAppointmentServlet</display-name>
    <servlet-name>bookAppointmentServlet</servlet-name>
    <servlet-class>appointment.bookAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookAppointmentServlet</servlet-name>
    <url-pattern>/bookAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEventServlet</display-name>
    <servlet-name>AddEventServlet</servlet-name>
    <servlet-class>event.AddEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventServlet</servlet-name>
    <url-pattern>/AddEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteBlogServlet</display-name>
    <servlet-name>WriteBlogServlet</servlet-name>
    <servlet-class>blog.WriteBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteBlogServlet</servlet-name>
    <url-pattern>/WriteBlogServlet</url-pattern>
  </servlet-mapping>
</web-app>